@charset "UTF-8";

.header {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 0.5em;
  color:white;
  background: rgb(28, 179, 146);
  justify-self: stretch;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.header > h1 {
  align-self: center;
  justify-self: start;
}

.header > img {
  align-self: center;
  justify-self: end;
}

.outer-grid {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  /*align-items: center;*/
  justify-items: center;
  grid-template-columns: 0.2fr 2fr 0.2fr;
  
}

.inner-grid {
  display: grid;
  max-width: 26em;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-column: 2;
  grid-gap: 1em;
  background: rgb(8, 153, 122);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

.task-box {
  display: grid;
  background:rgba(245, 245, 245, 0.90);
  width: 100%; /*look if there is a better solution*/
}

.task-list {
  display: grid;
  grid-auto-columns: minmax(20px, auto);
  padding: 0px 10px 0px 10px;
  grid-gap: 0.4em;
}
.completed-list {
  display: grid;
  grid-auto-columns: minmax(20px, auto);
  padding: 15px 10px 10px 10px;
  grid-gap: 0.4em;
  margin-top: 0;
  border-top: rgb(221,221,221) 1px solid;
}

.task-item {
  display:grid;
  color:#444;
  grid-template-columns: 2fr 0.2fr 0.2fr 0.2fr;
  justify-items: start;
  align-items: end;
  background:#FFF;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #333;
  
}
/*
.task-item:nth-child(odd){
  background: rgb(52, 207, 171);
}
*/
.task-item > button {
  align-self: center;
  justify-self: end;
}

.task-item > span {
  height: 80%;
  border: #ddd 1px solid;
  align-self: center;
  justify-self: center;
  border-radius: 2px;
}

.task-form {
  display:grid;
  grid-template-columns: 9fr 1fr;
  justify-items: end;
  align-items: end;
  padding: 2px 12px 2px 24px;
}

.task-form > input[type=text]{
  height: 3em;
  
  background: rgb(106, 209, 185);
  border: none;
  border-radius: 5px;
  padding: 0px 32px 0 10px;
  justify-self: stretch;
  outline: none;
  color: white;
}

.task-form > button {
  align-self: center;
  justify-self: stretch;
  position: relative;
  left: -25px;
  top: 2.5px;
  outline: none;
}

.btn-add-task {
  background: url('../img/icons/64px/add_4.png') no-repeat;
  background-position: center;
  background-size: 3.6em 3.6em;
  width: 3.6em;
  height: 3.6em;
  border: none;
  cursor: pointer;
  outline: none;
  
}

.btn-add-task:active {
  background: url('../img/icons/64px/add.png') no-repeat;
  background-size: 3.6em 3.6em;
  background-position: center;
}

.btn-check-task {
  background: url('../img/icons/64px/check_3.png') no-repeat;
  background-position: center;
  background-size: 2em 2em;
  width: 2em;
  height: 2em;
  border: none;
  cursor: pointer;
  outline: none;
  
}

.btn-check-task:active {
  background: url('../img/icons/64px/check_2.png') no-repeat;
  background-size: 1.8em 1.8em;
  background-position: center;
}


.btn-remove-task {
  background: url('../img/icons/64px/delete_3.png') no-repeat;
  background-position: center;
  background-size: 2em 2em;
  width: 2em;
  height: 2em;
  border: none;
  cursor: pointer;
  outline: none;
  
}

.btn-remove-task:active {
  background: url('../img/icons/64px/delete_4.png') no-repeat;
  background-size: 1.8em 1.8em;
  background-position: center;
}